
<!-- Content Above -->

<section id="footer">
      
      <div class="container-fluid footer" id="contact-me">
        
        <span class="social-icon fab fa-twitter"></span>
        <span class="social-icon fab fa-facebook-f"></span>
        <span class="social-icon fab fa-instagram"></span>
        <span class="social-icon fas fa-envelope"></span>
        <p class="copyright">© Copyright 2020 Cord Carnes</p>

      </div>

    </section>
    
  </body>

</html>
