    
  <!-- Header Above -->

    <section id="nav_gallery">
      
      <div class="container-fluid nav_gallery">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#demo-reel">Demo Reels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#storyboards">Story Boards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#loglines">Log Lines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#thumbnails">Thumbnails</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="#concepts">Concepts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#expressions">Expressions</a>
          </li>
        </ul>
      </div>

    </section>

  <!-- Content Below -->
