    
  <!-- Header Above -->

    <section id="navigation">
      
      <div class="container-fluid navigation">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#story-boards">Story Boards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-me">Contact Me</a>
          </li>
        </ul>
      </div>

    </section>

  <!-- Content Below -->
