<%- include("partials/header") -%>
<%- include("partials/nav_gallery") -%>

<h2 id="storyboard">Story Boards</h2>

<h2 id="demo-reel">Demo Reels</h2>
<section id="feature-video-reel">
	<div class="video-reel-title">
		<p>Salvage - 3 Minute Demo Reel</p>	
	</div>
	<div class="container-fluid d-flex justify-content-center video-reel">
		<div class="embed-responsive embed-responsive-16by9 reel">
			<iframe src="https://www.youtube.com/embed/oWZma7Q68Qg" frameborder="0" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="video-reel-title">
		<p>SMORES - 1 Minute Demo Reel</p>	
	</div>
	<div class="container-fluid d-flex justify-content-center video-reel">
		<div class="embed-responsive embed-responsive-16by9 reel">
			<iframe src="https://www.youtube.com/embed/khpS9A9aVrc" frameborder="0" allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</section>


<h2 id="concepts">Concepts</h2>

<h2 id="expressions">Expressions</h2>



<%- include("partials/footer") -%>
