<%- include("partials/header") -%>

	<%- include("partials/navigation") -%>

    <section id="profile">
      
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid top-header">
          <img src="img/random/20_CC_small.png" class="cover-img">
          <h1 class="display-3">Cord Carnes</h1>
          <p class="summary">Aspiring Animator and Story Board Artist. I am currently attending <a href="https://www.lcad.edu/" target="_blank">Laguna College of Art+Design</a> for their <a href="https://www.lcad.edu/animation/program/program-overview" target="_blank">Animator Curriculum</a>.</p>
        </div>
      </div>

    </section>

    <section id="slides">
      
      <div class="container-fluid slides">
        
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="img/loglinesandstoryboards/CordCarnes_Smores_08.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/loglinesandstoryboards/CordCarnes_Smores_25.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/loglinesandstoryboards/CordCarnes_Smores_30.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>

      </div>

    </section>

    <section id="feature-video-reel">
    	<div class="container-fluid d-flex justify-content-center video-reel">
    		<div class="embed-responsive embed-responsive-16by9 reel">
				<iframe width="512" height="512" src="https://www.youtube.com/embed/XeFxdkaFzRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
    	</div>
    </section>

<%- include("partials/footer") -%>
