body {
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	background: #F7F9F9;
	color: #273746;
	padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 3rem;
	font-weight: 700;
}

.navigation {
	background: #F7F9F9;
	color: #273746;
}

.jumbotron, .slides, .video-reel, .footer {
	background: #F7F9F9;
	color: #273746;
}

.container-fluid {

}

/*Nav Bar*/
.nav {
	padding: 1.5rem 0 2rem;
	list-style:none;
}

.nav-gallery {
	padding: 0 0 5rem;
	list-style:none;
}

.nav-item {

}

.nav-link {
	font-size: 1.2rem;
	color: #273746;
}

.jumbotron {	
	padding: 8rem 0 2rem;
}

.cover-img {
	max-width: 25%;
	height: auto;
  	object-fit: cover;
  	border-radius: 50%;	
}

/*Carousel Section*/
.carousel-item {
	padding: 1% 20%;
}

.video-reel-title, .video-reel-title-salvage, .video-reel-title-smores {	
	padding: 5rem 0 1rem;
	font-weight: 700;
	text-align: center;
}

.reel {	
	width: 900px;
}

.footer {
	padding: 10rem 0 2rem;
}

/* Footer */
.social-icon {
	padding: 2% 1%;
}

.copyright {
	font-weight: bold;
	color: #8f8f8f;
}
